<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>431516803603-9pc91p60dj7mb6jic8v3gg9vv1hljon3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.431516803603-9pc91p60dj7mb6jic8v3gg9vv1hljon3</string>
	<key>API_KEY</key>
	<string>AIzaSyBqgrAv9Ai71VXup2aA6FOaSQbpQPqUlmg</string>
	<key>GCM_SENDER_ID</key>
	<string>431516803603</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tuna.MoneyManagementApp</string>
	<key>PROJECT_ID</key>
	<string>moneymanagementapp-9b61f</string>
	<key>STORAGE_BUCKET</key>
	<string>moneymanagementapp-9b61f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:431516803603:ios:797ca4ae79c99d7be695e6</string>
</dict>
</plist>